<div class="container">
  <br>
  <h4><mark>Автомобіль: </mark>{{name}} <small>{{model}}</small></h4>
  <div class="alert alert-success">
    Характеристики автомобіля:
    <ul>
      <li>Швидкість: <strong>{{speed}}</strong> км</li>
      <li>Колір автомобіля: <strong>{{colors.car}}</strong></li>
      <li>Колір салона: <strong>{{colors.salon}}</strong></li>
      <li>Колір колес: <strong>{{colors.wheels}}</strong></li>
    </ul>
  </div>

  <h5>Змініти об'єкт </h5>
  <button class="btn btn-danger"(click)="showEdit()">Редагувати</button>
  <div><br></div>
  <form *ngIf=isEdit>
    <div class="form-group">
      <input type="text" placeholder="Назва машини" class="form-control"[(ngModel)]="name" name="name"><br>
      <input type="text" placeholder="Модель машини" class="form-control"[(ngModel)]="model" name="model"><br>
      <input type="number" placeholder="Швидкість" class="form-control"[(ngModel)]="speed" name="speed"><br>
      <input type="text" placeholder="Колір машини" class="form-control"[(ngModel)]="colors.car" name="car"><br>
      <input type="text" placeholder="Колір салона" class="form-control"[(ngModel)]="colors.salon" name="salon"><br>
      <input type="text" placeholder="Колір колес" class="form-control"[(ngModel)]="colors.wheels" name="wheels">
    </div>
  </form>

  <h5>Можливості автомобіля: </h5>
  <form (submit)="addOpt(option.value)">
    <div class="form-group">
      <label for="option">Добавити нову можливість</label>
      <input type="text" id="option" placeholder="Введіть щось" class="form-control" #option>
      <br>
      <button type="submit" class="btn btn-outline-success">Добавити</button>
    </div>
  </form>

  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options">{{opt}}
      <button class="btn btn-danger btn-sm"(click)="deleteOpt(opt)">x</button></li>
    </ul>
  </div>

  <h5>Виберіть автомобіль</h5>
  <button class="btn btn-danger"(click)="carSelect('bmv')">BMW</button>
  <button class="btn btn-success"(click)="carSelect('audi')">Audi</button>
  <button class="btn btn-info"(click)="carSelect('mer')">Mercedes</button>
</div>

